/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Fin del reset CSS*/

#principal {
    
    float: left;
    width: 580px;
    
}

#lateral {
    
    margin-left: 600px;
    padding: 15px; /*Contenido a contenedor*/
    background: #e1cdff;
    
}

body {
    
    color: #b1967c;
    font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
    padding-top: 100px;
    background: #e1cdff url(images/fondo_cuerpo.png) repeat-x; /*Solamente la repite de la parte de arriba*/
    width: 800px;
    margin: 0 auto;
    
}

h1 {
    
    font-size: 3em;
    font-family: "Arial Black", Gadget, sans-serif;
    
}

/*Sólo se heredan las propiedades de primer plano, no de segundo plano*/

h2 {
    
    font-size: 2.2em;
    color: #600;
    margin-bottom: 5px;
    
}

#principal h2 {
    
    color: #e8a064; /*Se sobreescribe el color, lo demás lo hereda por cascada de h2*/
    border-bottom: 2px white solid;
    background: url(images/flor.png) no-repeat;
    padding: 0 0 2px 80px; /*Arriba, derecha, abajo, izquierda*/
    
}

#principal p { /*101 puntos*/
    
    color: #616161;
    font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
    font-size: 1.1em; /*em es un multiplicador*/
    line-height: 150%; /*Interlineado*/
    margin-bottom: 10px;
    margin-left: 80px;
    
}

#principal .introduccion { /*110 puntos*/
    
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin-left: 0px;
    margin-bottom: 25px;
    
}